<img src = "https://global-uploads.webflow.com/5f0d53c042a9ed6288de7f8d/5f6337ae2cfaa10946ceeb06_Hacktiv8%20logo%20horizontal%2001%20black-p-500.png" width = 500>
<h1 align=center><font size = 6,5>Final Project 2 (Logistic Regression dan SVM)</font></h1>

# Kelompok 4 - PYTN KS 017

- Fadil Febriansyah  : PYTN-KS17-016 <br>
- Nabila Firzariani  : PYTN-KS17-011 <br>
- Nurhidayatul       : PYTN-KS17-008 <br>
- Riga Jaya          : PYTN-KS17-020 <br>
        
MSIB Kampus Merdeka Batch 5

----------------------------------
# A. Perkenalan

## A.1. Latar Belakang
Cuaca merupakan faktor alam yang sangat mempengaruhi kehidupan manusia. Dalam kehidupan sehari-hari, banyak aktivitas dan tindakan manusia yang bergantung pada faktor dan keadaan cuaca. Seseorang yang akan berpergian membutuhkan informasi cuaca untuk menentukan tujuan perjalanan dan keputusan untuk berangkat pada tujuan tersebut. Mengantisipasi cuaca merupakan kebutuhan manusia untuk dapat melakukan aktivitas dengan baik. Faktor-faktor yang mempengaruhi cuaca antara lain suhu, kelembaban, tekanan udara, kecepatan angin, dan lainnya. Salah satu fenomena terpenting dalam kehidupan yang dipengaruhi oleh cuaca adalah hujan.Â 

Hujan merupakan fenomena yang tidak dapat dihindari dimana cuaca merupakan salah satu faktor yang mempengaruhi terjadinya hujan. Oleh karena itu, prakiraan terkait cuaca menjadi sangat penting. Apakah besok akan hujan atau tidak dapat bisa menilai dari klasifikasinya. Metode statistik dan pembelajaran machine learning untuk memprediksi hujan akan dibandingkan dalam project ini. Pada project ini, kami ingin melakukan prediksi pada kejadian hujan di Australia dengan menggunakan metode logistic regression dan SVM. 

Kumpulan data ini berisi sekitar 10 tahun pengamatan cuaca harian dari banyak lokasi di seluruh Australia. **RainTomorrow** adalah variabel target untuk diprediksi. Artinya apakah keesokan harinya hujan, Ya atau Tidak? Kolom ini Ya jika hujan pada hari itu 1 mm atau lebih.


## A.2. Dataset
Analisis ini menggunakan data yang bersumber dari kaggle yaitu <a href="https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package" title="Rain in Australia">Rain in Australia</a>. 


## A.3. Objektif
Objektif yang ingin dicapai antara lain:
- Untuk mengetahui faktor-faktor yang berpengaruh dalam memprediksi hujan di wilayah Australia.
- Untuk membuat beberapa model yang dianggap paling sesuai dengan metode logistic regression dan SVM sehingga diperoleh akurasi yang tinggi.
- Untuk memprediksi hujan di wilayah Australia berdasarkan faktor-faktor yang mempengaruhinya menggunakan metode logistic regression dan SVM.

# B.Import Library

In [1]:
# Import library dataframe
import numpy as np 
from numpy import mean 
import pandas as pd 

# Import library untuk visualisasi
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns

# Import library untuk preprocessing 
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler 
from sklearn import preprocessing 
from sklearn.model_selection import train_test_split 

# Mengatur display agar maximal
pd.options.display.max_rows = None
pd.options.display.max_columns = None

# Import library untuk modelling/analysis
from sklearn import metrics
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score 
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import classification_report 
from sklearn.metrics import mean_squared_error 
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import roc_auc_score

# Import library untuk model improvement
from sklearn.model_selection import GridSearchCV
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score

# Import Library untuk balancing
from sklearn.utils import resample

# C.Data Loading

## C.1.Memanggil data set

In [2]:
data_weather = pd.read_csv('D:/Kuliah/Semester 7/Hacktiv8/Dataset/weatherAUS.csv')

In [3]:
data_weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

**Keterangan dataset:**

Dataset ini berisi 23 kolom yang bertipe data integer, float, dan object. Masing-masing kolom memiliki arti tersendiri, yaitu sebagai berikut:

1. `Date` = Tanggal terjadinya hujan
2. `Location` = Wilayah di Australia yang mengalami hujan
3. `MinTemp` = Suhu Minimal (Celcius)
4. `MaxTemp` = Suhu Maksimal (Celcius)
5. `Rainfall` = Jumlah Curah Hujan Tercatat dalam hari (Mm)
6. `Evaporation` = Evaporasi dalam sehari 
7. `Sunshine` = Lama Matahari Cerah di Siang Hari (Jam)
8. `WindGustDir` = Arah Hembusan Angin terkuat dalam sehari
9. `WindGustSpeed` = Kecepatan Angin terkuat dalam sehari (km/jam)
10. `WindDir9am` = Arah Angin Jam 9 Pagi
11. `WindDir3pm` = Arah Angin Jam 3 Sore
12. `WindSpeed9am` = Kecepatan Angin sebelum jam 9 Pagi (km/jam)
13. `WindSpeed3pm` = Kecepatan Angin sebelum jam 3 sore (km/jam)
14. `Humidity9am` = Kelembaban jam 9 Pagi
15. `Humidity3pm` = Kelembaban jam 3 Sore
16. `Pressure9am` = Tekanan atmosfer (hpa) berkurang ke rata-rata permukaan laut pada jam 9 pagi
17. `Pressure3pm` = Tekanan atmosfer (hpa) berkurang ke rata-rata permukaan laut pada jam 3 sore
18. `Cloud9am` = Keadaan Awan Jam 9 pagi (0 â 8); 0 = Paling Cerah, ...., 8 = Mendung Sekali 
19. `Cloud3pm` = Keadaan Awan Jam 3 Sore (0 â 8); 0 = Paling Cerah, ...., 8 = Mendung Sekali 
20. `Temp9am` = Temperatur Jam 9 Pagi (Celcius)
21. `Temp3pm` = Temperatur Jam 3 Sore (Celcius)
22. `RainToday` = Keadaan Cuaca Hari ini; 0 = Tidak Hujan atau 1 = Terjadi Hujan
23. `RainTomorrow` = Kejadian hujan pada esok hari; 0 = Tidak Hujan atau 1 = Terjadi Hujan

## C.2. Melihat ukuran data

In [4]:
data_weather.shape

(145460, 23)

## C.3. Deskriptif Statistik

In [5]:
data_weather.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

## C.4. Mengecek Type Data Pada Dataset

In [6]:
data_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

## C.5. Mengetahui Column

In [7]:
data_weather.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

# D.Data Preprocessing

Data preprocessing adalah serangkaian langkah untuk membersihkan, mengorganisasi, dan mempersiapkan data sebelum digunakan untuk analisis atau pengembangan model. Tujuannya adalah untuk memastikan data siap dan berkualitas tinggi, termasuk penanganan nilai hilang, pembersihan data, normalisasi fitur, pengkodean variabel kategorikal, pemisahan data, transformasi data, pemilihan fitur, dan lainnya. Proses ini memungkinkan data digunakan dengan lebih baik dalam analisis atau model machine learning.

## D.1. Mengecek Missing Value

In [8]:
data_weather.isna().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [9]:
for column in data_weather.columns:
    total_null = data_weather[column].isnull().sum()
    total_data = len(data_weather[column])
    percent_missing = (total_null / total_data) * 100
    
    print(f"Kolom : {column}")
    print(f"Total nilai null: {total_null}")
    print(f"Total data: {total_null}")
    print(f"Persentase missing value: {percent_missing:.2f}%")
    print('')

Kolom : Date
Total nilai null: 0
Total data: 0
Persentase missing value: 0.00%

Kolom : Location
Total nilai null: 0
Total data: 0
Persentase missing value: 0.00%

Kolom : MinTemp
Total nilai null: 1485
Total data: 1485
Persentase missing value: 1.02%

Kolom : MaxTemp
Total nilai null: 1261
Total data: 1261
Persentase missing value: 0.87%

Kolom : Rainfall
Total nilai null: 3261
Total data: 3261
Persentase missing value: 2.24%

Kolom : Evaporation
Total nilai null: 62790
Total data: 62790
Persentase missing value: 43.17%

Kolom : Sunshine
Total nilai null: 69835
Total data: 69835
Persentase missing value: 48.01%

Kolom : WindGustDir
Total nilai null: 10326
Total data: 10326
Persentase missing value: 7.10%

Kolom : WindGustSpeed
Total nilai null: 10263
Total data: 10263
Persentase missing value: 7.06%

Kolom : WindDir9am
Total nilai null: 10566
Total data: 10566
Persentase missing value: 7.26%

Kolom : WindDir3pm
Total nilai null: 4228
Total data: 4228
Persentase missing value: 2.91%

Kolom : WindSpeed9am
Total nilai null: 1767
Total data: 1767
Persentase missing value: 1.21%

Kolom : WindSpeed3pm
Total nilai null: 3062
Total data: 3062
Persentase missing value: 2.11%

Kolom : Humidity9am
Total nilai null: 2654
Total data: 2654
Persentase missing value: 1.82%

Kolom : Humidity3pm
Total nilai null: 4507
Total data: 4507
Persentase missing value: 3.10%

Kolom : Pressure9am
Total nilai null: 15065
Total data: 15065
Persentase missing value: 10.36%

Kolom : Pressure3pm
Total nilai null: 15028
Total data: 15028
Persentase missing value: 10.33%

Kolom : Cloud9am
Total nilai null: 55888
Total data: 55888
Persentase missing value: 38.42%

Kolom : Cloud3pm
Total nilai null: 59358
Total data: 59358
Persentase missing value: 40.81%

Kolom : Temp9am
Total nilai null: 1767
Total data: 1767
Persentase missing value: 1.21%

Kolom : Temp3pm
Total nilai null: 3609
Total data: 3609
Persentase missing value: 2.48%

Kolom : RainToday
Total nilai null: 3261
Total data: 3261
Persentase missing value: 2.24%

Kolom : RainTomorrow
Total nilai null: 3267
Total data: 3267
Persentase missing value: 2.25%

## D.2. Pengecekan data duplikat

Mengecek data duplikat pada keseluruhan data frame.

In [10]:
data_weather.duplicated().sum()

0

## D.3. Mengubah tipe data datetime

Mengubah tipe data datetime dari object menjadi datetime.

In [11]:
data_weather['Date']=pd.to_datetime(data_weather['Date'])

Mengecek kembali tipe data

In [12]:
data_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  datetime64[ns]
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: datetime64[ns](1), float64(16), object(6)
memory usage: 25.5+ MB

**Keterangan** <br>
Dari 23 kolom, ada 4 kolom yang memiliki persentase missing value paling tinggi (> 30%). Diantaranya adalah Evaporation, Sunshine, Cloud9am, dan Cloud3pm. Oleh karena itu, kolom-kolom tersebut akan dihapuskan pada proses data cleaning.

## D.4. Data Cleaning 

Data cleaning (pembersihan data) adalah proses mengidentifikasi, mengkoreksi, dan menghapus kesalahan, ketidakcocokan, atau ketidaksesuaian dalam dataset agar data tersebut dapat digunakan dengan akurat dan andal dalam analisis, pemodelan, atau keperluan lainnya. Data cleaning adalah langkah penting dalam analisis data dan pengolahan data karena data yang tidak bersih atau cacat dapat menghasilkan hasil yang tidak benar dan tidak dapat diandalkan.

Menghapus column yang >30% missing valuenya

In [13]:
data_weather.drop(["Evaporation","Sunshine","Cloud9am","Cloud3pm"],axis=1, inplace=True)
data_weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No

Mengecek column nya kembali

In [15]:
data_weather.shape

(145460, 19)

Mengecek Missing Values

In [17]:
data_weather.isna().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

Ternyata ada banyak missing value pada kolom-kolom yang ada pada dataset tersebut. Pada data cleaning akan menggunakan metode fillna dengan median untuk tipe data integer atau float, dan fillna dengan modus untuk tipe data object.

In [19]:
data_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  datetime64[ns]
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   WindGustDir    135134 non-null  object
 6   WindGustSpeed  135197 non-null  float64
 7   WindDir9am     134894 non-null  object
 8   WindDir3pm     141232 non-null  object
 9   WindSpeed9am   143693 non-null  float64
 10  WindSpeed3pm   142398 non-null  float64
 11  Humidity9am    142806 non-null  float64
 12  Humidity3pm    140953 non-null  float64
 13  Pressure9am    130395 non-null  float64
 14  Pressure3pm    130432 non-null  float64
 15  Temp9am        143693 non-null  float64
 16  Temp3pm        141851 non-null  float64
 17  RainToday      142199 non-null  object
 18  RainTomorrow   142193 non-null  object
dtypes: datetime64[ns](1), float64(12), object(6)
memory usage: 21.1+ MB

Mengisi missing values tipe data float menggunakan median

In [21]:
numeric_columns = ['MinTemp', 'MaxTemp', 'Rainfall', 'WindGustSpeed', 
                   'WindSpeed9am', 'WindSpeed3pm','Humidity9am', 'Humidity3pm',
                   'Pressure9am', 'Pressure3pm', 'Temp9am', 'Temp3pm']
for column in numeric_columns:
    median_value = data_weather[column].median()
    data_weather[column].fillna(median_value, inplace=True)

In [ ]:
# Mengisi missing value pada kolom categorical dengan data yang paling sering
categorical_columns = ['WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday']

for column in categorical_columns:
    mode_value = data_weathers[column].mode().values[0]
    data_weathers[column].fillna(mode_value, inplace=True)

In [ ]:
# Mengisi missing value pada kolom numeric
numeric_columns = ['MinTemp', 'MaxTemp', 'Rainfall', 'WindGustSpeed', 
                   'WindSpeed9am', 'WindSpeed3pm','Humidity9am', 'Humidity3pm',
                   'Pressure9am', 'Pressure3pm', 'Temp9am', 'Temp3pm']
for column in numeric_columns:
    median_value = data_weathers[column].median()
    data_weathers[column].fillna(median_value, inplace=True)

In [ ]:
# Mengisi missing value pada kolom categorical dengan data yang paling sering
categorical_columns = ['WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday',
                       'RainTomorrow']

for column in categorical_columns:
    mode_value = data_weathers[column].mode().values[0]
    data_weathers[column].fillna(mode_value, inplace=True)

In [ ]:
data_weathers.isna().sum()

## mengecek data duplikat

In [ ]:
data_weathers.duplicated().sum()

## Mengubah Tipe Data

In [ ]:
data_weathers['Date']=pd.to_datetime(data_weather['Date'])

In [ ]:
data_weathers.info()

In [ ]:
data_weathers

# Explorasi Data

## Visualisasi Data

### Melihat Temperature Tertinggi berdasarkan rata location

In [ ]:
weather_max = data_weathers.groupby('Location')['MaxTemp'].mean().reset_index()

In [ ]:
weather_max.sort_values(['MaxTemp'], ascending=False, axis=0, inplace=True)
Top5_maxtemp = weather_max.head()
Top5_maxtemp

In [ ]:
sns.set(rc={'figure.figsize':(12,6)})
sns.barplot(x='Location', y='MaxTemp', data=Top5_maxtemp)

### Melihat Persentase Hujan Hari atau Tidak Hujan hari ini

In [ ]:
data_weathers['RainToday'].value_counts().plot(kind='bar', figsize=(12, 6))

In [ ]:
# menghitung jumlah hari hujan dan tidak hujan
hari_hujan = data_weathers[data_weathers['RainToday'] == 'Yes'].shape[0]
hari_tidakhujan = data_weathers[data_weathers['RainToday'] == 'No'].shape[0]

# membuat labels dan sizes untuk pie chart
labels = ['Hujan', 'Tidak Hujan']
sizes = [hari_hujan, hari_tidakhujan]

# membuat pie chart
plt.figure(figsize=(6, 6))
plt.pie(sizes, labels=labels, autopct='%1.1f%%', startangle=90)
plt.title('Persentase Hari ini Hujan dan Tidak Hujan')
plt.axis('equal')
plt.show()

## Measure of Central Tendency & Measure of Spread

In [ ]:
data_measure = data_weathers.loc[:, ['MinTemp', 'MaxTemp','Rainfall','Humidity9am','Humidity3pm']]
data_measure.head()

In [ ]:
#Menghitung mean, median, modus, range, variansi, dan Standard Deviasi
for column in data_measure:
    mean = data_measure[column].mean()
    median = data_measure[column].median()
    mode = data_measure[column].mode()[0]
    min_value = data_measure[column].min()
    max_value = data_measure[column].max()
    range_value = max_value - min_value
    variance = data_measure[column].var()
    std_dev = data_measure[column].std()
    
#Print hasilnya
    print(f"Nama Kolom: {column}")
    print(f"Mean: {mean:.3f}")
    print(f"Median: {median:.3f}")
    print(f"Modus: {mode:.3f}")
    print(f"Range: {range_value:.3f}")
    print(f"Variansi: {variance:.3f}")
    print(f"Standard Deviasi: {std_dev:.3f}")
    print("  ")

# Data Preprocessing

## Analysis Korelasi

In [ ]:
data_cor = data_weathers.loc[:, ['Date', 'Location', 'MinTemp', 'MaxTemp',
                                 'Rainfall','Humidity9am', 'Humidity3pm',
                                 'Pressure9am', 'Pressure3pm', 'Temp9am',
                                 'Temp3pm', 'RainToday', 'RainTomorrow']]
data_cor.head()

In [ ]:
label_encoder = preprocessing.LabelEncoder()

In [ ]:
df_category = data_weathers.select_dtypes(include='object')
df_encoder = data_weathers.copy()
for column in df_category.columns :
    df_encoder[column] = label_encoder.fit_transform(data_weathers[column])

In [ ]:
df_encoder

In [ ]:
# Membuat fungsi heat_map dengan 2 parameter
# nama df adalah nama datasetnya, list kolom adalah list korelasi yang ingin di cek
def heat_map(nama_df,list_kolom): 
    df_heatmap = nama_df[list_kolom] #Memasukkan data kolom tersebut kedalam variabel baru
    plt.figure(figsize=(20,23)) #Mengatur ukuran
    
    #Membuat heat map dengan menampilkan nilai dari korelasi
    sns.heatmap(df_heatmap.corr(), 
                annot=True, 
                cmap="Reds", 
                linewidths=.5, 
                linecolor='black', 
                square=True)

In [ ]:
heat_map_models = ['Location', 'MinTemp', 'MaxTemp','Rainfall',
                   'Humidity9am', 'Humidity3pm','Pressure9am', 'Pressure3pm',
                   'Temp9am','Temp3pm','RainToday','RainTomorrow']
heat_map(df_encoder, heat_map_models)

## Feature Scaling

In [ ]:
df_encoder.describe()

In [ ]:
df_encoder = pd.get_dummies(df_encoder)
df_encoder

In [ ]:
scaler = StandardScaler()
df_scaler = df_encoder.drop(['Date', 'RainTomorrow'], axis=1)

In [ ]:
X = scaler.fit_transform(df_scaler)
y = df_encoder['RainTomorrow']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=0)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [ ]:
logisticregression = LogisticRegression()
svm = SVC()

In [ ]:
logisticregression.fit(X_train, y_train)

In [ ]:
y_pred_log = logisticregression.predict(X_test)
y_pred_log

In [ ]:
print('Nilai akurasi Model Logistic Regression: ', accuracy_score(y_test, y_pred_log))

In [ ]:
report = classification_report(y_test, y_pred_log)
print(report)

In [ ]:
cm_logreg = confusion_matrix(y_test, y_pred_log)
print(cm_logreg)